.sortBar {
  height: 10dvh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  width: 140px;
  height: 35px;
  border: 3px solid antiquewhite;
  color: antiquewhite;
  border-radius: 45px;
  transition: all 0.3s;
  cursor: pointer;
  background: black;
  font-size: 1.2em;
  font-weight: 550;
  font-family: "Montserrat", sans-serif;
}

.btn:hover {
  background: antiquewhite;
  color: black;
  font-size: 1.35em;
  border: 3px solid black;
}
